@font-face {
    font-family: 'Go';
    src: url('./assets/fonts/GoRegular.woff2') format('woff2'),
        url('./assets/fonts/GoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SYN Nova';
    src: url('./assets/fonts/SYNNova-Regular.woff2') format('woff2'),
        url('./assets/fonts/SYNNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paete Round';
    src: url('./assets/fonts/PaeteRound.woff2') format('woff2'),
        url('./assets/fonts/PaeteRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "SYN Nova", Arial, Helvetica, sans-serif;
    background-image: linear-gradient(172.6deg, rgba(21, 13, 15, 1) 17.6%, rgba(84, 84, 84, 1) 98.6%);
}

.site-header {
    flex: 7%;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    gap: 1rem;

    color: white;

    .logo img {
        width: 4em;
    }
}

.game-container {
    flex: 86%;
    display: flex;
}

.game-info {
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .player-info {
        height: 40%;
        width: min(275px, 100%);
        display: flex;
        flex-direction: column;
    }

    .player-marker {
        flex: 1;
        background-image: url("./assets/images/avatar-1299805_1920.png");
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center center;
        filter: invert(100%);
    }

    .player-name {
        padding: 0.5em;
        font-size: 1.5rem;
        text-align: center;
        color: white;
    }
}

.game-panel {
    position: relative;
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-background {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: min(550px, 100%);

    background-color: transparent;
}

.board-grid {
    flex: 1;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;

    .board-cell {
        border-radius: 15px;
        background-color: white;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        box-shadow: 1px 1px 2px white;
    }
}

.game-control {
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
        font-size: 2.5rem;
        padding: 0.2em 0.5em;
    }

    .game-stats {
        font-size: 1.5rem;
        color: white;
    }
}

.site-footer {
    flex: 7%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* Style of the form to create players */
.player-form {
    width: 100%;
    max-width: min(550px, 100%);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    font-family: "Go", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 1px black;

    .main-form-fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
        padding: 1em 0;
        gap: 1em;

        .form-title {
            font-size: 1.3em;
        }

        div {
            display: flex;
            align-items: center;
            gap: 0.3em;
        }

        input:not([type="radio"]) {
            padding: 0.5rem;
            border: 1px dashed white;
            border-radius: 15px;
            background: transparent;
            font-family: "Go";
            font-weight: 900;
            font-size: 1.2rem;
            color: white;
            text-shadow: 1px 1px 1px black;
            box-shadow: 1px 1px 1px black;
        }

        .marker-choice {
            border: none;
            display: flex;
            justify-content: center;
            gap: 1em;
            padding: 0.5em 0;
        }

        .marker-choice input[type="radio"] {
            display: none;
        }

        .marker-choice .marker-option {
            padding: 0.2em;
            border: 2px solid #333;
            border-radius: 8px;
            cursor: pointer;
            user-select: none;
            transition: all 0.2s ease;
        }

        .marker-choice input[type="radio"]:checked+.marker-option {
            background-color: #333;
            color: #fff;
            border-color: #000;
        }

        .submit-button {
            align-self: center;
            font-size: 1.2rem;
            padding: 0.5em;
            border-radius: 15px;
        }
    }
}

/* Style for the Start and Restart buttons */
.btn-style {
    font-family: "SYN Nova", Arial, Helvetica, sans-serif;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-style:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-btn-style 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-btn-style {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btn-style:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Style for game message screen */
.game-message-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;

    .message-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .winner-marker {
            background: rgba(255, 255, 255);
            box-shadow: 1px 1px 5px black;
            border-radius: 15px;
            height: 50%;
            width: min(375px, 50%);
            background-image: url("./assets/images/hb-logo-black.png");
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center center;
        }

        p {
            font-size: 2rem;
            background: rgba(255, 255, 255);
            box-shadow: 1px 1px 5px black;
            border-radius: 15px;
            text-align: center;
            padding: 1rem;
        }
    }
}

/* Loading effect while the game creates players */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(275px, 100%);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    /* border-top: 4px solid #3498db; */
    border-top: 4px solid #34db3c;
    border-radius: 50%;
    width: clamp(6rem, 5vw, 12rem);
    height: clamp(6rem, 5vw, 12rem);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Style to indicate each player's turn. */
.player-turn {
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.player-turn:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-player-turn 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-player-turn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.player-turn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* PLAYER MARKERS */
.cross {
    background-image: url("./assets/images/nordic-cross.png") !important;
}

.circle {
    background-image: url("./assets/images/nordic-circle.png") !important;
}

.arrow {
    background-image: url("./assets/images/arrow-147173_1280.png") !important;
}

.crow {
    background-image: url("./assets/images/crow-307959_1280.png") !important;
}

.dog {
    background-image: url("./assets/images/dog-2103628_1280.png") !important;
}

.eagle {
    background-image: url("./assets/images/eagle-257507_1280.png") !important;
}

.square {
    background-image: url("./assets/images/nordic-square.png") !important;
}

.splatter {
    background-image: url("./assets/images/paint-splatter-312092_1280.png") !important;
}

.paw {
    background-image: url("./assets/images/paw-312322_1280.png") !important;
}

.star1 {
    background-image: url("./assets/images/star-42236_1280.png") !important;
}

.star2 {
    background-image: url("./assets/images/star-8152034_1280.png") !important;
}

.wolf {
    background-image: url("./assets/images/wild-157677_1280.png") !important;
}

/* ADDITIONAL STYLES FOR MOBILE DEVICES */
@media (max-width: 768px) {
    body {
        font-size: 0.5rem;
    }

    .game-container {
        flex-direction: column;
    }

    .game-info {
        flex-direction: row;
        padding: 0.5rem;

        .player-info {
            height: 100%;
            width: min(150px, 100%);
            align-items: center;
        }

        .player-marker {
            width: 50%;
        }

        .player-name {
            padding: 0.1rem;
            font-size: 1rem;
        }
    }

    .game-panel {
        flex: 65%;
    }

    .grid-background {
        max-width: min(375px, 95%);
    }

    .game-control {
        flex: 15%;
        flex-direction: row;
        padding: 0.5rem;

        button {
            font-size: 1.5rem;
        }

        .game-stats {
            font-size: 1rem;
        }
    }

    .player-form {
        max-width: min(375px, 100%);
        font-size: 1rem;

        .main-form-fieldset {
            .form-title {
                font-size: 1.1em;
            }

            input:not([type="radio"]) {
                font-size: 1rem;
            }

            .submit-button {
                font-size: 1.1rem;
            }
        }
    }

    .game-message-screen {
        .message-container {

            .winner-marker {
                height: 40%;
                width: min(200px, 50%);
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .loader-container {
        width: min(100px, 100%);
    }

    .spinner {
        width: clamp(3rem, 4vw, 6rem);
        height: clamp(3rem, 4vw, 6rem);
    }
}